<!DOCTYPE html>
  <html lang="ko" xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>OOTD</title>
    <link rel="stylesheet" href="/static/css/community/list.css">
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>
    <header th:insert="~{header :: header}"></header>

    <div id="root">

    <article id="list">

        <div class="categories">
            <div class="category current">
                <a href="/community/view/list?category=all" data-category="all">
                    <span>ALL</span>
                </a>
            </div>
            <div class="category" title="closetalk">
                <a href="/community/view/list?category=closetalk" data-category="closetalk">
                    <span>CLOSETALK</span>
                </a>
            </div>
            <div class="category" title="smalltalk">
                <a href="/community/view/list?category=smalltalk" data-category="smalltalk">
                    <span>SMALLTALK</span>
                </a>
            </div>
        </div>

        <section id="boardList" th:each="commList : ${communityList}">
            <a class="article" th:href="'/community/view/' + ${commList.id}">
                <div class="image">
                    <img th:src="@{${commList.thumbnail}}" >
                </div>
                <div class="info">
                    <div class="titleContainer">
                        <span class="title">
                            <span class="pre" th:text="'[' + ${commList.category} + '] '">[closetalk]</span>
                            <span class="text" th:text="${commList.title}">community test</span>
                        </span>
                    </div>
                    <div class="etc">
                        <div class="nickname" th:text="${commList.nickname}">user</div>
                        <div class="datetime" th:text="${commList.createdAt}">2023.09.11</div>
                        <i class="fa-regular fa-eye"></i>
                        <div class="viewCount" th:text="${commList.hits}">100</div>
                        <i class="fa-regular fa-thumbs-up"></i>
                        <div class="likeCount" th:text="${commList.likes}">5</div>
                    </div>
                </div>
            </a>
        </section>

        <section class="pagination">
            <div class="prev"></div>
            <div class="number">
                <a class="selected" th:href="'?category=' + ${category} + '&page=0'">1</a>
                <a class="notSelected" th:href="'?category=' + ${category} + '&page=1'">2</a>
                <a class="notSelected" th:href="'?category=' + ${category} + '&page=2'">3</a>
                <a class="notSelected" th:href="'?category=' + ${category} + '&page=3'">4</a>
                <a class="notSelected" th:href="'?category=' + ${category} + '&page=4'">5</a>
            </div>
            <div class="next">
                <a href="?page=5">다음</a>
            </div>
        </section>

            <div class="searchAndWrite">
                <div> </div>
                <div>
                    <form action="/community/view/search" method="GET">
                        <div class="search">
                            <select name="searchType">
                                <option value="all">전체</option>
                                <option value="title">제목</option>
                                <option value="nickname">글쓴이</option>
                            </select>
                            <input type="text" name="keyword" maxlength="50">
                            <button type="submit">검색</button>
                        </div>
                    </form>
                </div>
                <div class="write"> </div>
            </div>
    </article>
    </div>

    <div class="pop-up-btn">
        <i id="up-btn" class="fa-solid fa-square-caret-up fa-2x"></i>
        <i id="plus-btn" class="fa-solid fa-square-plus fa-2x"></i>
        <i id="down-btn" class="fa-solid fa-square-caret-down fa-2x"></i>
    </div>


    <footer th:insert="~{footer :: footer}"></footer>

    <script>
        var urlParams = new URLSearchParams(window.location.search);
        var currentCategory = urlParams.get('category') || 'all';

        var categoryElements = document.querySelectorAll('.category');
        categoryElements.forEach(function(category) {
            var dataCategory = category.querySelector('a').getAttribute('data-category');
            if (dataCategory === currentCategory) {
                category.classList.add('current');
            } else {
                category.classList.remove('current');
            }
        });
    </script>

    <script>
        // 페이지 번호 클릭 시 색 변환
        function setCurrentPageClass() {
            var currentPage = getCurrentPageNumber();
            var pageLinks = document.querySelectorAll('.number a');
            for (var i = 0; i < pageLinks.length; i++) {
                if (i === currentPage) {
                    pageLinks[i].classList.remove('notSelected');
                    pageLinks[i].classList.add('selected');
                } else {
                    pageLinks[i].classList.remove('selected');
                    pageLinks[i].classList.add('notSelected');
                }
            }
        }

        function getCurrentPageNumber() {
            var urlParams = new URLSearchParams(window.location.search);
            return parseInt(urlParams.get('page')) || 0;
        }

        setCurrentPageClass();
    </script>

    <script>
        $(document).ready(function() {
            $("#up-btn").click(function() {
                $('html, body').animate({scrollTop: 0}, 500);
            });

            $("#down-btn").click(function() {
                $('html, body').animate({scrollTop: $(document).height()}, 500);
            });

            function updateButtonPosition() {
                var scrollPos = $(window).scrollTop();
                var windowHeight = $(window).height();
                var documentHeight = $(document).height();
                var buttonHeight = $(".pop-up-btn").outerHeight();

                var maxButtonPosition = documentHeight - buttonHeight - 20;

                if (scrollPos > maxButtonPosition) {
                    $(".pop-up-btn").css("transform", "translateY(" + (maxButtonPosition - scrollPos) + "px)");
                } else {
                    $(".pop-up-btn").css("transform", "translateY(0)");
                }
            }

            updateButtonPosition();
            $(window).on("scroll", updateButtonPosition);
        });
    </script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


</body>
</html>