<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>Infinite Scroll Example</title>
    <link rel="stylesheet" href="/static/ootd/css/main.css">
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>
<section class="main">
    <form action="/ootd/list" method="get">
    <div class="body-container">
        <div class="header-container">
            <div class="header-top">
                <div class="header-icon alert">
                    <i class="fa-solid fa-bell fa-2x"></i>
                </div>
                <div class="header-icon mypage">
                    <i class="fa-solid fa-circle-user fa-2x"></i>
                </div>
            </div>
            <div class="header-closetalk">closetalk</div>
            <div id="menu">
                <div class="header-menu">ootd</div>
                <div class="header-menu">community</div>
                <div class="header-menu">issue</div>
            </div>
        </div>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/static/issue/1.jpg" style="width: 100%;"></div>
                <div class="swiper-slide"><img src="/static/issue/2.jpg" style="width: 100%;"></div>
                <div class="swiper-slide"><img src="/static/issue/3.jpg" style="width: 100%;"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="ootd-container-a">
            <div class="ootd-container-b" id="ootd-container">
                <th:block th:each="ootd : ${ootdPage}">
                    <div class="ootd-image" id="ootd-image">
                        <img th:src="@{${ootd.getThumbnail()}}" style="border-radius: 0px; width: 100%; height: 100%;">
                    </div>
                </th:block>
            </div>
        </div>
    </div>
        <div class="pop-up-btn">
            <i id="up-btn" class="fa-solid fa-square-caret-up fa-2x"></i>
            <i id="plus-btn" class="fa-solid fa-square-plus fa-2x"></i>
            <i id="down-btn" class="fa-solid fa-square-caret-down fa-2x"></i>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

        <script>
            var swiper = new Swiper(".mySwiper", {
                pagination: {
                    el: ".swiper-pagination",
                },
            });
        </script>

        <script>
            var page = 0; // 현재 페이지
            var isLoading = false; // true가 되면 데이터를 가져오는 중임을 나타냄
            var ootdContainer = document.getElementById('ootd-container');

            function createOotdImage(thumbnailUrl) {
                var ootdImageDiv = document.createElement('div');
                ootdImageDiv.className = 'ootd-image';

                var img = document.createElement('img');
                img.src = thumbnailUrl;
                img.style.borderRadius = '0px';
                img.style.width = '100%';
                img.style.height = '100%';

                ootdImageDiv.appendChild(img);
                return ootdImageDiv;
            }

            function loadMoreThumbnails() {
                if (isLoading) {
                    return;
                }
                isLoading = true;

                $.get('/ootd/list?page=' + page, function(data) {
                    var newThumbnails = $(data).find('.ootd-image img');

                    newThumbnails.each(function() {
                        var thumbnailUrl = $(this).attr('src');
                        var ootdImageDiv = createOotdImage(thumbnailUrl);
                        ootdContainer.appendChild(ootdImageDiv);
                    });

                    isLoading = false;
                    page++;
                });
            }

            var debounceTimer;

            window.addEventListener('scroll', function() {
                clearTimeout(debounceTimer);

                var scrollPosition = window.innerHeight + window.scrollY;
                var contentHeight = document.body.offsetHeight;
                var distanceToBottom = contentHeight - scrollPosition;

                // 0.5초 뒤에 로딩되도록 설정
                if (distanceToBottom < 200) {
                    debounceTimer = setTimeout(loadMoreThumbnails, 500); // 1000  = 1초
                }
            });

            loadMoreThumbnails();
        </script>

        <script>
            $(document).ready(function() {
                $("#up-btn").click(function() {
                    $('html, body').animate({scrollTop: 0}, 500);
                });

                $("#down-btn").click(function() {
                    $('html, body').animate({scrollTop: $(document).height()}, 500);
                });

                function updateButtonPosition() {
                    var scrollPos = $(window).scrollTop();
                    var windowHeight = $(window).height();
                    var documentHeight = $(document).height();
                    var buttonHeight = $(".pop-up-btn").outerHeight();

                    var maxButtonPosition = documentHeight - buttonHeight - 20;

                    if (scrollPos > maxButtonPosition) {
                        $(".pop-up-btn").css("transform", "translateY(" + (maxButtonPosition - scrollPos) + "px)");
                    } else {
                        $(".pop-up-btn").css("transform", "translateY(0)");
                    }
                }

                updateButtonPosition();
                $(window).on("scroll", updateButtonPosition);
            });
        </script>
    </form>
</section>
</body>
</html>