<!DOCTYPE html>
  <html lang="ko" xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>OOTD</title>
    <link rel="stylesheet" href="/static/css/ootd/article.css">
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>
<section class="ootd">

    <!-- header -->
    <header th:insert="~{header :: header}"></header>

    <div id="root">
      <div class="main_body">

        <div class="board_top">
          <div class="board_top_info">
            <div class="board_top_userinfo">
                <img th:src="@{${ootdArticle.profile}}" th:if="${ootdArticle != null}">
                <p class="user_nickname" th:text="${ootdArticle?.nickname}">nickname</p>
            </div>
          </div>
        </div>

        <div class="board_image">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" id="swiper-slide" th:each="image : ${ootdArticle?.ootdImages}">
                      <!-- 이미지 슬라이드로 불러오기 -->
                      <img th:src="@{${image.getImageUrl()}}" style="height: 100%; width: 100%">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="board_middle">
          <div class="board_middle_boardinfo">
            <p th:text="${ootdArticle?.createdAt}">2023.08.28</p>
          </div>
          <div class="board_middle_btn">
<!--            <div class="board_middle_btn_unlike"><i class="fa-regular fa-heart"></i></div>-->
            <div class="board_middle_btn_like" id="heart-icon"><i class="fa-solid fa-heart"></i></div>
            <div class="board_middle_btn_URL" id="copy-link"><i class="fa-solid fa-link"></i></div>
          </div>
          <div class="board_bottom_content"></div>
        </div>

        <div class="board_bottom">
          <div class="board_bottom_content">
            <div th:text="${ootdArticle?.content}">content</div>
          </div>
          <div class="board_bottom_hashtag">
            <p th:text="${ootdArticle?.hashtag}">#ootd</p>
          </div>
          </div>
        </div>

<!--        <div th:insert="~{ootd/ootdComment :: comment}"></div>-->
        <div class="board_bottom_comment" >
            <div class="board_bottom_commentList" th:each="commentList : ${ootdCommentList}">
                <div class="commentList_item">
                    <img th:src="@{${commentList.profile}}" class="comment_profile_img">
                    <div class="board_bottom_comment_user">
                        <p class="user_nickname" th:text="${commentList.nickname}">nickname2</p>
                        <p class="user_content" th:text="${commentList.content}">comment</p>
                        <p class="comment_time" th:text="${commentList.createdAt}">2023.08.28</p>
                        <p class="comment_reply">답글달기</p>
                    </div>
                </div>
                <div class="board_bottom_sub_comment" th:each="replyList : ${commentList.replies}">
                    <img th:src="${replyList.profile}" class="comment_profile_img">
                    <div class="board_bottom_comment_user">
                        <p class="user_nickname" th:text="${replyList.nickname}">nickname1</p>
                        <p class="user_content" th:text="${replyList.content}">
                            <span class="comment_sub_content" th:text="${commentList.nickname}">nickname2</span>
                            commentcommentcommentcomment
                        </p>
                        <p class="comment_time" th:text="${replyList.createdAt}">2023.08.28</p>
                        <p class="comment_reply">답글달기</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="board_bottom_insert_comment">
            <div class="comment_in">
                <!--            <p class="not_login_comment">로그인 후 댓글쓰기가 가능합니다.</p>-->
                <textarea type="text" class="comment_input" placeholder="댓글을 작성 해 주세요." maxlength="255"></textarea>
                <button class="comment_submit_btn">등록</button>
            </div>
        </div>

        <div class="board_bottom_btn">
          <button class="board_bottom_btn_edit">수정</button>
          <button class="board_bottom_btn_delete">삭제</button>
          <button class="board_bottom_btn_list">목록</button>
        </div>
     </div>
    </div>

    <footer th:insert="~{footer :: footer}"></footer>

      <!-- 배너 스와이프 API -->
      <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
      <script>
          var swiper = new Swiper(".mySwiper", {
              pagination: {
                  el: ".swiper-pagination",
              },
          });
      </script>
      <!-- heart 클릭 시 변형하는 JS -->
      <script>
      document.getElementById('heart-icon').addEventListener('click', function() {
      var heartIcon = this.querySelector('i');
      if (heartIcon.classList.contains('fa-solid')) {
      heartIcon.classList.remove('fa-solid');
      heartIcon.classList.add('fa-regular');
      } else {
      heartIcon.classList.remove('fa-regular');
      heartIcon.classList.add('fa-solid');
      }
      });
      </script>
      <!-- link 클릭 시 링크 복사하는 JS -->
      <script>
          document.getElementById('copy-link').addEventListener('click', function() {
              var link = window.location.href; // Get the current page's URL
              var tempInput = document.createElement("input");
              tempInput.value = link;
              document.body.appendChild(tempInput);
              tempInput.select();
              document.execCommand("copy");
              document.body.removeChild(tempInput);

              // Show a notification
              var notification = document.createElement("div");
              notification.textContent = "링크가 복사되었습니다!";
              notification.classList.add("copy-notification");
              document.body.appendChild(notification);

              // Remove the notification after a certain time (e.g., 3 seconds)
              setTimeout(function() {
                  document.body.removeChild(notification);
              }, 3000);
          });
      </script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</section>
</body>
</html>