@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto+Condensed:ital,wght@1,300;1,700&display=swap');



/* 모바일 웹 초기화 */
*, *:after, *:before {
    box-sizing: border-box}

body.on {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

body {
    background: #fefefe;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

#wrap {
    min-width: 320px;
}

@media (min-width: 1080px) {
    .header-container {
        position: relative;
        margin-top: 20px;
    }
    .header-icon {
        margin-bottom: 100px;

    }
    .alert {
        position: relative;
        float: right;
        right: 70px;
    }
    .mypage {
        position: relative;
        float: right;
    }
    .header-closetalk {
        font-family: 'Roboto Condensed', sans-serif;
        position: relative;
        text-align: center;
        top: 30px;
        font-size: 30px;
        font-weight: bolder;
    }
    #menu {
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .header-menu {
        position: relative;
        top: 60px;
        font-size: 20px;
        display:inline-block;
        zoom:1;
        margin-right: 25px;
        margin-left: 25px;
    }

    .body-container {
        max-width: 650px;
        height: 300px;
        width: 300vw;
        position: relative;
        margin: 20px auto auto;
    }

    .swiper {
        width: 100%;
        height: 100%;
        /*margin-bottom: 50px;*/
    }

    .swiper-slide {
        display: block;
        width: 650px;
        height: 450px;
    }
    .img {
        width: 100%;
        object-fit: fill;
        position: static;
    }
}

@media (min-width: 1080px) {
    .ootd-container-a {
        max-width: 650px;
        height: 100%;
        width: 100%;
        margin: 20px auto auto;
    }
    * {
        box-sizing: border-box;
        background-color: transparent;
    }
    *, :before, :after {
        --tw-border-spacing-x: 0;
        --tw-border-spacing-y: 0;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-pan-x: ;
        --tw-pan-y: ;
        --tw-pinch-zoom: ;
        --tw-scroll-snap-strictness: proximity;
        --tw-gradient-from-position: ;
        --tw-gradient-via-position: ;
        --tw-gradient-to-position: ;
        --tw-ordinal: ;
        --tw-slashed-zero: ;
        --tw-numeric-figure: ;
        --tw-numeric-spacing: ;
        --tw-numeric-fraction: ;
        --tw-ring-inset: ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgb(147 197 253 / .8);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        --tw-blur: ;
        --tw-brightness: ;
        --tw-contrast: ;
        --tw-grayscale: ;
        --tw-hue-rotate: ;
        --tw-invert: ;
        --tw-saturate: ;
        --tw-sepia: ;
        --tw-drop-shadow: ;
        --tw-backdrop-blur: ;
        --tw-backdrop-brightness: ;
        --tw-backdrop-contrast: ;
        --tw-backdrop-grayscale: ;
        --tw-backdrop-hue-rotate: ;
        --tw-backdrop-invert: ;
        --tw-backdrop-opacity: ;
        --tw-backdrop-saturate: ;
        --tw-backdrop-sepia: ;
    }
    *, :before, :after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: #eeeeee;
    }

@media screen and (max-width: 767px) {
    #header .product_wrap .list_product li {
        width: calc(50%);
    }
}

@media (min-width: 743px) {
    .ootd-container-b {
        grid-template-columns: repeat(3, minmax(0px, 1fr));
        display: grid;
        gap: 2px;
    }
}





}
