<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .main-content {
            max-width: 768px;
            height: 300px;
            width: 300vw;
            position: relative;
            margin: 20px auto auto;
        }
    </style>
</head>
<body>
<header th:insert="~{header :: header}"></header>

<main class="main-content" style="margin-top: 200px; text-align: center; width: 300px" >
    <div class="title">
        <h1>LOGIN</h1>
    </div>
    <form id="loginForm" style="vertical-align: center">
        <div class="div-input" style="display: inline-block; margin-top: 10px;">
            <label for="loginId">
                <input type="text" id="loginId" name="userId"
                       placeholder="ID" required style="margin-bottom: 5px;">
            </label>
            <label for="password">
                <input type="password" id="password" name="password"
                       placeholder="PASSWORD" required>
            </label>
        </div>
        <label for="rememberMe">
            <input type="checkbox" id="rememberMe" name="rememberMe">
            아이디 저장
        </label>
        <button type="submit" style="margin-top: 10px; padding: 5px; border-radius: 5px; border: 1px solid #333333; font-weight: bold">LOGIN</button>
    </form>
    <div style="margin-top: 16px; text-align: right">
        <a href="/oauth2/authorization/naver" style="text-decoration: none; color: black">네이버</a>
        <a href="/oauth2/authorization/kakao" style="text-decoration: none; color: black">카카오</a>
    </div>
    <div style="margin-top: 16px; text-align: right" >
        <a href="/find/id" style="text-decoration: none; color: black">아이디 찾기</a>
        <span class="separator">|</span>
        <a href="/find/password" style="text-decoration: none; color: black">비밀번호 찾기</a>
        <span class="separator" >|</span>
        <a th:href="@{/joinPage}" style="text-decoration: none; color: black">회원가입</a>
    </div>
</main>

<footer th:insert="~{footer :: footer}"></footer>
<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault();

        const formData = {
            loginId: document.getElementById("loginId").value,
            password: document.getElementById("password").value
        };

        fetch('/users/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
            .then(response => response.json())
            .then(data => {
                const accessToken = data.accessToken;

                // 아이디 저장 체크 여부 확인
                const rememberMe = document.getElementById("rememberMe").checked;
                if (rememberMe) {
                    localStorage.setItem('loginId', formData.loginId);
                } else {
                    localStorage.removeItem('loginId'); // "아이디 저장" 체크 해제 시 로컬 스토리지에서 삭제
                }

                localStorage.setItem('accessToken', accessToken);
                window.location.href = '/ootd/main';
            })
            .catch(error => {
                alert("아이디와 비밀번호가 일치하지 않습니다.");
                console.error("Error:", error);
            });
    });

    // 로그인 아이디를 로컬 스토리지에서 가져와서 입력 필드에 채워주는 부분
    window.addEventListener('load', function() {
        const storedLoginId = localStorage.getItem('loginId');
        if (storedLoginId) {
            document.getElementById('loginId').value = storedLoginId;

            // "아이디 저장" 체크 박스 체크 처리
            document.getElementById('rememberMe').checked = true;
        }
    });

    window.addEventListener('load', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const accessToken = urlParams.get('accessToken');

        if (accessToken) {
            // 토큰이 존재하면 localStorage에 저장
            localStorage.setItem('accessToken', accessToken);
            window.location.href = '/ootd/main';
        }
    });
</script>
</body>
</html>