@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto+Condensed:ital,wght@1,300;1,700&display=swap');

#header {
    max-width: 768px;
    position: relative;
    font-size: 13px;
    margin: 20px auto auto;

}

.header-container {
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.header-icon {
    position: relative;
    float: right;
    text-decoration: none;
}
#alert {
    margin-right: 10px;
}
#user {
    margin-right: 10px;
}
#login {
    margin-right: 10px;
    color: black;
}
.header-closetalk {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    text-align: center;
    top: 30px;
    font-size: 35px;
    font-weight: bolder;
    width: 100%;
    display: inline-block;
}
#menu {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.header-menu {
    position: relative;
    top: 60px;
    font-size: 20px;
    display:inline-block;
    zoom:1;
    margin-right: 25px;
    margin-left: 25px;
}
.header-menu a {
    text-decoration: none;
    color: black;
}

#floatMenu{
    position: fixed;
    top: 12%;
    left: 85%;
    transform: translate(-50%, -60%);
    width: 180px;
    height: 100px;
    background-color: white;
    padding: 20px 10px 0px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    visibility: hidden;
}
#floatMenu > ul {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin-bottom: 5px;
}

#floatMenu > ul > a{
    text-decoration: none;
    color: black;
}