@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto+Condensed:ital,wght@1,300;1,700&display=swap');

#header {
    max-width: 768px;
    position: relative;
    font-size: 13px;
    margin: 20px auto auto;

}

.header-container {
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.header-icon {
    position: relative;
    float: right;
    text-decoration: none;
}
#alert {
    margin-right: 10px;
}
#user {
    margin-right: 10px;
}
#login {
    margin-right: 10px;
    color: black;
}
.header-closetalk {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    text-align: center;
    top: 30px;
    font-size: 35px;
    font-weight: bolder;
    width: 100%;
    display: inline-block;
}
#menu {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.header-menu {
    position: relative;
    top: 60px;
    font-size: 20px;
    display:inline-block;
    zoom:1;
    margin-right: 25px;
    margin-left: 25px;
}
.header-menu a {
    text-decoration: none;
    color: black;
}

#floatMenu{
    /* 모달 창 스타일 */
    position: fixed;
    top: 10%; /* 수직 가운데 정렬을 위해 화면 상단에서 50% 위치로 이동 */
    left: 90%; /* 수평 가운데 정렬을 위해 화면 왼쪽에서 50% 위치로 이동 */
    transform: translate(-50%, -60%); /* 가운데 정렬을 위한 위치 조정 */
    width: 120px;
    height: 80px;
    background-color: white; /* 배경색 설정 */
    padding: 20px 10px 0px 20px; /* 내용과 모달 창 사이의 간격 설정 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 추가 */
    z-index: 1000; /* 다른 요소 위에 표시하기 위한 z-index 설정 */
    /*display: none;*/
    visibility: hidden;
}
#floatMenu > ul {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin-bottom: 5px;
    /*float: left;*/
    /*!*width: 100px;*!*/
    /*position: relative;*/
}

#floatMenu > ul > a{
    text-decoration: none;
    color: black;
}