<!DOCTYPE html>
<html lang="ko" th:fragment="header">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
  <link rel="stylesheet" href="/static/css/header.css">
  <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<header id="header">
  <div class="header-top">
    <div class="header-icon">
      <i id="alert" class="fa-solid fa-bell fa-2x"></i>
      <i id="user" class="fa-solid fa-circle-user fa-2x"></i>
      <a href="/loginPage"><i id="login" class="fa-solid fa-right-to-bracket fa-2x"></i></a>
<!--      <a href="/logout"><i class="fa-solid fa-right-from-bracket fa-2x"></i><a> -->
    </div>
  </div>

  <div class="header-closetalk" style="margin-top: -20px">
    <a href="/ootd/main">
      <img src="/static/images/closetalk_logo.png" alt="Closetalk">
    </a>
  </div>
  <div id="menu" style="margin-top: -20px">
    <div class="header-menu">
      <a href="/ootd/main">ootd</a>
    </div>
    <div class="header-menu">
      <a href="/community/view/list">community</a>
    </div>
    <div class="header-menu">
      <a href="/issue/view/list">issue</a>
    </div>
  </div>

  <script>
    window.addEventListener('load', function () {
      const accessToken = localStorage.getItem('accessToken');
      console.log(accessToken);

      if (accessToken) {
        // DOM 요소를 가져옵니다.
        var loginButton = document.getElementById("login");

        // "accessToken"이 있을 경우 버튼을 변경합니다.
        loginButton.setAttribute("href", "#"); // 임시로 "#"으로 설정합니다.

        // 로그아웃 버튼 클릭 이벤트를 추가합니다.
        loginButton.addEventListener("click", function (event) {
          event.preventDefault(); // 기본 동작(링크 이동)을 막습니다.

          // accessToken을 삭제합니다.
          localStorage.removeItem('accessToken');

          // 로그아웃 처리를 수행하는 코드를 추가합니다.
          fetch("/logout", {
            method: "POST",
            headers: {
              "Authorization": "Bearer " + accessToken
            }
          })
                  .then(response => {
                    // 로그아웃 처리 완료 후 필요한 동작을 수행합니다.
                    window.location.href = "/ootdMain";
                  })
                  .catch(error => {
                    console.error("로그아웃 실패: " + error);
                  });
        });

        // "accessToken"이 있을 경우 버튼을 변경합니다.
        loginButton.classList.remove("fa-right-to-bracket");
        loginButton.classList.add("fa-sign-out-alt"); // 로그아웃 아이콘으로 변경합니다.
      }
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</header>
</html>